<?xml version="1.0"?>
<robot>

  <!-- Definition of the color black in RVIZ -->
  <material name="black">
    <!--The float values are the result of (x/255)-->
    <color rgba="0.0 0.0 0.0 0.8"/>
  </material>

  <!-- Definition of the color white in RVIZ -->
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  
  <!--These definitions came from "gazebo_ros_demos_kinetic_devel" package-->
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="brown">
    <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
  </material>

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

</robot>
